entryPoints:
    web:
        address: :80
        http: 
            redirections:
                entryPoint:
                    to: websecure
                    scheme: https
    websecure:
        address: :443
        http:
            tls:
                certResolver: letsencrypt
                domains:
                    - main: {{ MAIN_DOMAIN }}
    traefik:
        address: :8080

ping: {}

providers:
    docker:
        endpoint: "unix:///var/run/docker.sock"
        watch: true
        exposedByDefault: false
    file:
        filename: /etc/traefik/rules.yml

log:
    level: info

certificatesResolvers:
    letsencrypt:
        acme:
            email: linus@etnolit.se
            storage: /etc/traefik/acme.json
            httpChallenge:
                entryPoint: web
