services:
  nextcloud-ts:
    image: tailscale/tailscale:latest
    container_name: nextcloud-ts
    hostname: nextcloud
    environment:
      - TS_AUTH_KEY={{ TAILSCALE_AUTHKEY }}?ephemeral=false
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_SERVE_CONFIG=/config/ts.json
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ./tailscale:/config
      - nextcloud-ts:/var/lib/tailscale
    devices:
      - /dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped

  db:
    image: mariadb:11.5
    user: 999:999
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - "{{ container_path }}/nextcloud/db:/var/lib/mysql"
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD={{ nextcloud_db_root_password }}
      - MYSQL_PASSWORD={{ nextcloud_db_user_password }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud_admin
      - MARIADB_AUTO_UPGRADE=1

  app:
    image: nextcloud:32-apache
    network_mode: service:nextcloud-ts
    depends_on:
      - nextcloud-ts
      - db
    container_name: nextcloud
    volumes:
      - "{{ container_path }}/nextcloud/nc_instance:/var/www/html"
      - "{{ container_path }}/nextcloud/data:/var/www/html/data"
      - "{{ container_path }}/nextcloud/config:/var/www/html/config"
      - "{{ container_path }}/nextcloud/apps:/var/www/html/apps"
      - "{{ container_path }}/nextcloud/custom_apps:/var/www/html/custom_apps"
    restart: always
    environment:
      - VIRTUAL_HOST=cloud.etnolit.se

  cron:
    image: nextcloud:32-apache
    restart: always
    volumes_from:
      - app
    entrypoint: /cron.sh
    depends_on:
      - app

volumes:
  nextcloud-ts:
    driver: local
