services:
    tandoor-ts:
        image: tailscale/tailscale:latest
        container_name: tandoor-ts
        hostname: tandoor
        environment:
            - TS_AUTH_KEY={{ TAILSCALE_AUTHKEY }}?ephemeral=false
            - TS_EXTRA_ARGS=--advertise-tags=tag:container
            - TS_STATE_DIR=/var/lib/tailscale
            - TS_USERSPACE=false
        volumes:
            - ./tailscale:/config
            - tandoor-ts:/var/lib/tailscale
        devices:
            - /dev/net/tun
        cap_add:
            - net_admin
            - sys_module
        restart: unless-stopped

    db_recipes:
        restart: always
        image: postgres:15-alpine
        volumes:
            - ./postgresql:/var/lib/postgresql/data
        env_file:
            - ./.env

    web_recipes:
        restart: always
        image: vabene1111/recipes:1.5.6
        env_file:
            - ./.env
        volumes:
            - staticfiles:/opt/recipes/staticfiles
            - nginx_config:/opt/recipes/nginx/conf.d
            - ./mediafiles:/opt/recipes/mediafiles
        depends_on:
            - db_recipes

    nginx_recipes:
        image: nginx:mainline-alpine
        network_mode: service:tandoor-ts
        depends_on:
            - tandoor-ts
            - web_recipes
        restart: always
        env_file:
            - ./.env
        volumes:
            - nginx_config:/etc/nginx/conf.d:ro
            - staticfiles:/static:ro
            - ./mediafiles:/media:ro

volumes:
    tandoor-ts:
        driver: local
    nginx_config:
    staticfiles:
